block append scripts
    //-link(type='text/css', href='/vendor/css/select2.min.css',  rel='stylesheet')
    //-script(src='/vendor/select2.min.js', type='text/javascript')
    script(src='/js/widgets/danone-platform-select.js')

mixin danone_platform_select(classname, style_attrs)
    input.danone-platform-select-widget(class=classname, style=style_attrs, value=(typeof(pos) != 'undefined' ? pos.a52_code : ""))