block append scripts
    link(type='text/css', href='/vendor/css/tablesorter.css',  rel='stylesheet')
    script(src='/vendor/tablesorter/jquery.tablesorter.min.js', type='text/javascript')
    script(src='/vendor/tablesorter/jquery.tablesorter.widgets.min.js', type='text/javascript')
    script(src='/vendor/tablesorter/jquery.tablesorter.pager.min.js', type='text/javascript')
    script(src='/js/widgets/sortable-table.js', type='text/javascript')

