extends layout

block content
    .container(style="background-color: white; padding: 25px; border-radius: 10px;")
        h1(style="color: #777; font-weight: lighter; font-size: 31px;")
            i.icon-2x.icon-bell(style="color:#d15b47; margin-right: 20px;")
            span(style="color:#d15b47; font-size: 300%") 500
            div(style="font-weight: lighter; font-size: 31px;")
                | An error occurred!
        hr
        h3(style="color: #777; font-size: 18px; font-weight: lighter;")
            div(style="font-weight: lighter; text-shadow: -1px 1px 1px #999;")
                | Reason:
            div
                i.icon-comments(style="margin-right: 2px; margin-left: 3px; ")
                span(style="color: #393939; font-weight: lighter; margin-left: 15px; font-size: 16px;")
                    =error
        hr
        a(href="/home", style="color: #53c7b0;")
            | Go back to home