!!! 5
html(lang="en")
    head
        title Danone Store Check
        meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0',charset="UTF-8")

        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/vendor/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.css')

        link(rel="icon", href="/img/favicon.png",type="image/png")
        link(rel="shortcut icon", href="/img/favicon.png",type="image/png")

        script(src='/vendor/jquery.min.js')
        script(src='/vendor/bootstrap/bootstrap.min.js')
        script(src='/js/widgets/tooltip-wrapper.js')
        script(src='/vendor/doT.min.js')

        include google-analytics
        // store check v0.2.0

        block scripts
        block head_scripts
    body
        block content
