
.modal-alert.modal
    .modal-content
        .modal-header
            button.close(data-dismiss='modal') x
            h3
        .modal-body
            p
        .modal-footer
            button(data-dismiss="modal", type="submit")#ok.btn.btn-warning OK