
.modal-confirm.modal
    .modal-content
        .modal-header
            button.close(data-dismiss='modal', style="color: white;")
                i.icon-remove
            h3
        .modal-body
            p
        .modal-footer
            button(data-dismiss="modal").cancel.btn.btn-warning No
            button.submit.btn.btn-primary Yes