append head
    script(src='/vendor/spin.min.js', type='text/javascript')

block content
    .modal-loading.modal(style="height:165px; width: 165px; margin-left: -82px; left: 50%; top: 50%; margin-top: -75px; overflow: visible;")
        .modal-content
            .modal-body(style="border-radius: 10px;")
                .loading-message(style="height:65px; width: 135px;")
                    .loading-child(style="margin-left: 63px; margin-top: 60px;")
                div(style="text-align: center;").loading-text
                    |Loading
