
.modal-credentials.modal(style="height: 200px;")
    .modal-header
        button.close(data-dismiss='modal') x
        h3 Retrieve Password
    .modal-body
        form( method="post").modal-credentials-form.well
            p Please enter the email address associated with your account
            input(type="text", name="email", id='email-tf', style="width: 100%;").required
    .modal-footer
        button(data-dismiss="modal").lost-credentials-cancel.btn.btn-warning Cancel
        button(type="submit").btn.btn-primary.lost-credentials-submit Submit
        .alert.alert-error.hide(style="margin-top: 5px;")
        button(data-dismiss="alert").close