
.set-password-modal.modal(style="height: 290px;")
    .modal-content
        .modal-header
            h3 Reset Password
        .modal-body
            form( method="post", style="margin-bottom: 0;")#set-password-form.well
                p Please enter your new password
                input(type="password", name="pass", id='pass-tf', style="width: 100%").required
        .modal-footer
            button(data-dismiss="alert").btn.btn-warning.btn-cancel Back to main
            button(type="submit")#submit.btn.btn-primary Submit
        .alert.alert-error.hide