extends ../layout

block content
    include ./navbar
    include ../widgets/message-bar
    include ../widgets/sortable-table
    include ../modals/alert
    include ../modals/confirm
    include ../modals/loading

    mixin navbar()
    .container-fluid
        mixin message_bar_container()
        h3 Customer Platforms
        div(style="width:100%;overflow-y:auto;")
            .table-container

block append scripts
    script(src='/js/widgets/table-pager.js')
    script(src='/js/widgets/customer-platform-table.js')
    script.
        $(function() {
            customer_platform_table.init($('.table-container'));
        });
