extends ../layout

block content
    include ./navbar
    include ../widgets/message-bar
    include ../widgets/table-pager
    include ../widgets/sortable-table
    include ../modals/alert
    include ../modals/confirm
    include ../modals/loading

    mixin navbar()
    .container-fluid
        mixin message_bar_container()
        h3 Factories
        div(style="width:100%;overflow-y:auto;")
            table.table.table-bordered.table-striped
                thead
                    tr
                        th Code
                        th Description
                        th Active
                tbody
                    - each factory in factories
                        tr
                            td
                                a(href='/factory/' + factory._id + '/view')= factory.code
                            td= factory.description1
                            td= factory.active
        mixin table_pager()

    script(src='/vendor/jquery.form.min.js')
    script(src='/js/controllers/pageController.js')
    script.
        $(function($) {
            sortable_table.init('table');
        });