extends ../layout

block content
    include ./navbar
    include ../widgets/message-bar
    include ../modals/alert
    include ../modals/confirm
    include ../modals/loading
    include ../forms/product-form-fields

    mixin navbar()
    .container-fluid
        mixin message_bar_container()
        div(style="max-width: 550px;")
            -if(product.source == 'import')
                form( method="post").form-horizontal.well
                    h3 View Product
                    hr
                    body
                        .row
                            mixin product_form_fields(product, true)
            - else
                form( method="post").form-horizontal.well
                    h3 Edit Product
                    hr
                    body
                        .row
                            mixin product_form_fields(product, false)
                    .form-actions
                        .pull-right
                            button(type='button').product-btn-cancel.btn.btn-warning Cancel
                            button(type='button').product-btn-save.btn.btn-primary Save

block append scripts
    link(type='text/css', href='/vendor/bootstrap/css/bootstrap-datepicker.min.css',  rel='stylesheet')
    script(src='/vendor/jquery.form.min.js')
    script(src='/js/controllers/pageController.js')
    script(src='/js/controllers/productController.js')
    script(src='/vendor/bootstrap/bootstrap-datepicker.min.js')